<div class="{{ctx.component.customClass}}" ref="{{ctx.datagridKey}}-tbody">
    {% if (ctx.hasAddButton && ctx.hasTopSubmit) { %}
    <button class="govuk-button govuk-button--secondary"
            aria-label="{{ctx.t(ctx.component.addAnother || 'Add Another')}}"
            ref="{{ctx.datagridKey}}-addRow">
        <i class="{{ctx.iconClass('plus')}}"></i> {{ctx.t(ctx.component.addAnother || 'Add Another')}}
    </button>
    {% } %}
    {% ctx.rows.forEach(function(row, index) { %}
    {% ctx.columns.forEach(function(col) { %}
    <div class="govuk-grid-row" ref="{{ctx.datagridKey}}-row" data-label="{{ ctx.t(col.label || col.title) }}">
        <div class="govuk-grid-column-full" ref="{{ctx.datagridKey}}" data-label="{{ ctx.t(col.label || col.title) }}">
            {{row[col.key]}}
            {% if (ctx.component.reorder) { %}
            <button type="button" title="Reorder item"
                    class="formio-drag-button govuk-button govuk-button--secondary">
                {{ctx.t(ctx.component.properties['reorderItemLabel'] || 'Reorder')}}
            </button>
            {% } %}
            {% if (!ctx.builder && ctx.hasRemoveButtons) { %}
            <button aria-label="Remove item" title="Remove item" type="button"
                    class="govuk-button govuk-button--warning" ref="{{ctx.datagridKey}}-removeRow">
                {{ctx.t(ctx.component.properties['removeItemLabel'] || 'Remove')}}
            </button>
            {% } %}
            <hr class="dataGrid-hr"/>
        </div>
    </div>
    {% }) %}
    {% }) %}
    {% if (ctx.hasAddButton && ctx.hasBottomSubmit) { %}
    <button class="govuk-button govuk-button--secondary"
            aria-label="{{ctx.t(ctx.component.addAnother || 'Add Another')}}"
            ref="{{ctx.datagridKey}}-addRow">
        <i class="{{ctx.iconClass('plus')}}"></i> {{ctx.t(ctx.component.addAnother || 'Add Another')}}
    </button>
    {% } %}
</div>

