<div>
    <input class="govuk-input govuk-input--width-2" type="number" ref="hour" placeholder="HH"/>
    <input class="govuk-input govuk-input--width-2" type="number" ref="minute" placeholder="MM"/>
</div>
