<div class="govuk-form-group">
    <div class="govuk-date-input">
        {% if (ctx.dayFirst && ctx.showDay) { %}
        <div class="govuk-date-input__item">
            <div class="govuk-form-group">
                <label for="{{ctx.component.key}}-day" class="govuk-label govuk-date-input__label">{{ctx.t('Day')}}</label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="{{ctx.component.key}}-day}}"
                       type="number" ref="day">
            </div>
        </div>
        {% } %}
        {% if (ctx.showMonth) { %}
        <div class="govuk-date-input__item">
            <div class="govuk-form-group">
                <label for="{{ctx.component.key}}-month" class="govuk-label govuk-date-input__label">{{ctx.t('Month')}}</label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="{{ctx.component.key}}-month}}"
                       type="number" ref="month">
            </div>
        </div>
        {% } %}
        {% if (!ctx.dayFirst && ctx.showDay) { %}
        <div class="govuk-date-input__item">
            <div class="govuk-form-group">
                <label for="{{ctx.component.key}}-day" class="govuk-label govuk-date-input__label">{{ctx.t('Day')}}</label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="{{ctx.component.key}}-day}}"
                       type="number" ref="day">
            </div>
        </div>
        {% } %}
        {% if (ctx.showYear) { %}
        <div class="govuk-date-input__item">
            <div class="govuk-form-group">
                <label for="{{ctx.component.key}}-year" class="govuk-label govuk-date-input__label">{{ctx.t('Year')}}</label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="{{ctx.component.key}}-year}}"
                       type="number" ref="year">
            </div>
        </div>
        {% } %}
    </div>
    <input name="data[day]" type="hidden" class="form-control" lang="en" value="" ref="input">
</div>